.mainCarousel {
  margin: auto;
  margin-top: 20px;
  max-height: 500px;
  width: 1200px;
  text-align: center;
}

.mainCarousel img {
  border-radius: 10px;
}

.carosel-h1 {
  margin-top: 20px;
  color: rgb(16, 76, 151);
}

.caroselSubheading {
  font-size: 23px;
  font-weight: 400;
}

#learn-more {
  margin-top: 30px;
  background-color: rgb(16, 76, 151);
  color: white;
  width: 170px;
  height: 45px;
  font-size: 22px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}
