/* Home Header CSS */

.parent-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.157);
  background-color: white;
  padding: 10px 15px 0px 15px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-container {
  width: 100%;
  height: 60px;
}

.header-container > .header-logo {
  float: left;
}

.header-container > .navlinks {
  display: grid;
  grid-template-columns: 105px 75px 155px 95px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  float: left;
  margin-top: 15px;
  font-size: 15px;
  color: black;
  width: 700px;
  /* border: 1px solid red; */
}

.header-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

.header-container a:hover {
  color: rgba(0, 0, 0, 0.445);
}

.join-and-signin {
  /* border: 1px solid red; */
  float: right;
  display: grid;
  grid-template-columns: 50px auto 100px;
  margin-top: 15px;
}

#join {
  font-size: 17px;
  font-weight: bold;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
}

#signin {
  font-size: 17px;
  font-weight: bold;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
}

#join:hover {
  color: rgba(0, 0, 0, 0.445);
}
#signin:hover {
  color: rgba(0, 0, 0, 0.445);
}

.user-logo {
  float: right;
  margin-top: 2px;
  color: rgb(0, 119, 255);
  margin-left: 10px;
  font-size: 18px;
}

#join,
#signin,
.user-logo :hover {
  cursor: pointer;
}

/* Where To Css */

.where-to-container {
  margin: auto;
  margin-top: 10px;
  height: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: 600px 250px 400px;
}

#where-to {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#where-to-input {
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding-left: 15px;
  font-size: 18px;
  height: 45px;
  width: 600px;
}

/* Date Range Picker CSS */
.Calender-box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  margin-top: 30px;
  height: 60%;
  width: 250px;
}

.Calender-box:hover {
  cursor: pointer;
}

.start-date {
  border-right: 2px solid rgba(0, 0, 0, 0.226);
  width: 100%;
}

.start-date #date {
  float: left;
  font-size: 45px;
  font-weight: 700;
  color: rgb(20, 20, 172);
  font-family: "Roboto", sans-serif;
}

.month-day {
  float: left;
  margin-top: 12px;
  display: grid;
  grid-template-rows: auto auto;
}

.start-date #month,
#day {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-size: 15px;
  width: 50px;
  height: 20px;
}

/* ----------------- */
.end-date {
  margin-left: 10px;
  width: 100%;
}

.end-date #date {
  float: left;
  font-size: 45px;
  font-weight: 700;
  color: rgb(20, 20, 172);
  font-family: "Roboto", sans-serif;
}

/* .month-day {
  float: left;
  margin-top: 3px;
  display: grid;
  grid-template-rows: auto auto;
} */

.end-date #month,
#day {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-size: 15px;
  width: 50px;
  height: 20px;
}

/* .Calender-box .div-bar {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.287);
} */

.setRooms {
  float: left;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  margin-left: 70px;
  grid-gap: 20px;
  height: 40px;
  margin-top: 45px;
}

.setRooms button {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid black;
  font-weight: 550;
  border-radius: 5px;
}

.setRooms #find-a-hotel {
  background-color: rgba(4, 4, 149, 0.815);
  color: white;
}

/* BlueLine CSS */
.join_Hilton {
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: dodgerblue;
  color: white;
  height: 80px;
  width: 100%;
}

.join_Hilton > #image {
  float: left;
  margin-left: 380px;
  margin-top: 5px;
  height: 70px;
  width: 100px;
}

.join_Hilton > #subhead {
  float: left;
  font-weight: 900;
  margin-left: 70px;
  margin-top: 25px;
  font-size: 20px;
}

.join_Hilton > #sublink {
  float: left;
  color: black;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: underline;
  color: white;
}

/* Carousal Css */

.mainCarousel {
  margin: auto;
  margin-top: 20px;
  max-height: 500px;
  width: 1200px;
  text-align: center;
}

.mainCarousel img {
  border-radius: 10px;
}

.carosel-h1 {
  margin-top: 20px;
  color: rgb(16, 76, 151);
}

.caroselSubheading {
  font-size: 23px;
  font-weight: 400;
}

#learn-more {
  margin-top: 30px;
  background-color: rgb(16, 76, 151);
  color: white;
  width: 170px;
  height: 45px;
  font-size: 22px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

/* CheckOut New */
.check-out-container {
  margin: auto;
  margin-top: 350px;
  margin-bottom: 200px;
  height: 750px;
  width: 80%;
}

.Extra-cheer-container {
  margin: auto;
  margin-top: 100px;
  height: 750px;
  width: 80%;
}

.Extra-cheer-container > h1 {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgb(16, 76, 151);
}

.Extra-cheer-container > h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  transition: 0.5s;
}
.check-out-container > h1 {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgb(16, 76, 151);
}

.check-out-container > h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  transition: 0.5s;
}

.col-md-4 {
  margin-top: 30px;
}

.centered-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color: white;
  text-align: center;
}

.thumbnail:hover .centered-text {
  top: 50%;
}
