.where-to-container {
  margin: auto;
  margin-top: 10px;
  height: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: 600px 300px 400px;
}

#where-to {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#where-to-input {
  border: 1px solid rgba(0, 0, 0, 0.226);
  color: black;
  padding-left: 15px;
  font-size: 18px;
  height: 55px;
  width: 600px;
}

/* Check In - Check Out CSS */

.checkin_and_checkout {
  width: 400px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 170px 170px;
  grid-gap: 5px;
  padding-left: 20px;
}

.checkin_and_checkout input {
  /* border: 2px solid red; */
  height: 30px;
  padding: 8px 9px 8px;
}

.checkin_and_checkout h5 {
  color: rgba(0, 0, 0, 0.466);
}

/* Set Rooms Buttons */
.setRooms {
  float: left;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  margin-left: 100px;
  grid-gap: 20px;
  height: 40px;
  margin-top: 50px;
}

#special-rates {
  font-weight: 550;
  border: 1px solid rgba(4, 4, 149, 0.815);
  color: rgba(4, 4, 149, 0.815);
}
.setRooms #find-a-hotel {
  font-weight: 550;
  background-color: rgba(4, 4, 149, 0.815);
}

/* Rooms 1, Guests Button */
