.where-to-container {
  margin: auto;
  margin-top: 10px;
  height: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: 600px 300px 400px;
}

#where-to {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#where-to-input {
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding-left: 15px;
  font-size: 18px;
  height: 55px;
  width: 600px;
}

/* Check In - Check Out CSS */

.checkin_and_checkout {
  width: 400px;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 5px;
  padding-left: 35px;
}

.checkin_and_checkout h5 {
  color: rgba(0, 0, 0, 0.466);
}

/* Set Rooms Buttons */
.setRooms {
  float: left;
  display: grid;
  grid-template-columns: 170px 160px 160px;
  margin-left: 70px;
  grid-gap: 20px;
  height: 40px;
  margin-top: 45px;
}

#special-rates,
#find-a-hotel {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid black;
  font-weight: 550;
  border-radius: 5px;
}

.setRooms #find-a-hotel {
  background-color: rgba(4, 4, 149, 0.815);
  color: white;
}

/* Rooms 1, Guests Button */
