.signIn_header_body {
  height: 75px;
  width: 100%;
  background-color: rgb(16, 76, 151);
  text-align: center;
}

.signIn_header_body > img {
  height: 70px;
  width: 130px;
}

.signInHeader {
  font-family: "Roboto", sans-serif;
  margin-top: 45px;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
