/* body {
  background-color: #eee;
} */

.container {
  height: 100vh;
}

.card {
  border: none;
}

.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3f51b5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputbox input:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.inputbox input:valid ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.card-blue {
  background-color: #492bc4;
}

.hightlight {
  background-color: #5737d9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.yellow {
  color: #fdcc49;
}

.decoration {
  text-decoration: none;
  font-size: 14px;
}

.btn-success {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}

.btn-success:hover {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}

.decoration:hover {
  text-decoration: none;
  color: #fdcc49;
}

/* Success CSS */

.payment {
  border: 2px solid rgba(3, 104, 17, 0.747);
  height: 280px;
  border-radius: 20px;
  background: #fff;
  transition: 0.3s;
}

.payment:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.payment_header {
  background: rgba(3, 104, 17, 0.747);
  padding: 20px;
  border-radius: 17px 17px 0px 0px;
}

.check {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.check i {
  vertical-align: middle;
  line-height: 50px;
  font-size: 30px;
  color: rgba(3, 104, 17, 0.747);
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 30px;
  color: rgba(6, 37, 10, 0.644);
  padding-top: 25px;
}

.content a {
  width: 200px;
  height: 35px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  background: rgba(255, 102, 0, 1);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.content a:hover {
  text-decoration: none;
  background: #000;
}
